<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!--  ======================= Spring Infrastructure ==================== -->

	<!--  For translating native persistence exceptions to Spring's DataAccessException hierarchy. -->
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

	<!-- Enable usage of @Autowired. -->
	<context:annotation-config/>

	<!-- Enable component scanning for defining beans with annotations -->
	<context:component-scan base-package="es.oposiciones.modelo.dominio"/>

	<!--  Data source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource" p:configLocation="classpath:/hibernate-config.xml"/>

	<!-- Transaction manager for a single Hibernate SessionFactory  -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory"/>

	<!-- Enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager"/>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/database.properties</value>
		</property>
	</bean>

	<!--  ======================== Business Objects ======================== -->	

	<!--  Daos -->
	<bean id="provinciaDao" class="es.oposiciones.modelo.dao.ProvinciaDao" p:sessionFactory-ref="sessionFactory"/>
	<bean id="ayuntamientoDao" class="es.oposiciones.modelo.dao.AyuntamientoDao" p:sessionFactory-ref="sessionFactory"/>
	<bean id="localidadDao" class="es.oposiciones.modelo.dao.LocalidadDao" p:sessionFactory-ref="sessionFactory"/>
	<bean id="centroDao" class="es.oposiciones.modelo.dao.CentroDao" p:sessionFactory-ref="sessionFactory"/>

	<!--  Servicios -->
	<bean id="entidadesServicio" class="es.oposiciones.modelo.servicios.EntidadesServicio"/>
	<bean id="mapasServicio" class="es.oposiciones.modelo.servicios.MapasServicio"/>
	<bean id="sesionServicio" class="es.oposiciones.modelo.servicios.SesionServicio"/>

</beans>
